@CHARSET "UTF-8";
div > h2 {margin: 40px 0 0; padding: 0 0 0 25px; color: #000; font-family: '맑은 고딕'; font-size: 26px; font-weight: bold; letter-spacing: -2px;}
div > table {width: 1150px; margin: 15px auto 0; border-top: 3px solid #666666;}
div > table tr {border-top: 2px solid #f7f7f7; border-bottom: 2px solid #dddddd;}
div > table th {width: 200px; padding: 22px 0 22px 25px; font-family: '맑은 고딕'; text-align: left;}
div > table td {padding: 15px 0; text-align: left; font-family: '맑은 고딕'; font-size: 15px; color: #555555;}

.orderinfo tr:first-child {background: #fafafa;}
.orderinfo th {padding-left: 0; text-align: center;}
.orderinfo td {text-align: center;}
.orderinfo td.name {text-align: left;}
.orderinfo td.image img {width: 55px; height: 80px; border: 1px solid #dddddd; padding: 5px 12px;}
.orderinfo .btn {display: inline-block; padding: 5px 9px; text-align: center; color: #333; font-size: 14px; border: 1px solid #ccc; border-radius: 3px;}

.delivery th span {display: block; padding: 3px 0 0 16px; font-weight: normal;}
.delivery .btn {display: inline-block; margin: 0 0 0 3px; padding: 11px; text-align: center; color: #333; font-size: 14px; border: 1px solid #ccc; border-radius: 3px;}
.delivery .top {margin: 0 0 12px;}
.delivery .bottom input {margin: 0 7px 0 0;}
.delivery .request textarea {width: 639px; height: 125px; margin: 0 0 10px; resize: none;}
.delivery .request p {padding: 7px 0 3px; font-size: 15px; color: #d51515;}
.delivery > div p {position: relative; right: 26px; bottom: 11px; float: right; font-family: '맑은 고딕'}

.msginfo td span {display: inline-block; padding: 0 0 0 25px; font-size: 14px;}

.payinfo td > div.top {margin: 0 0 16px 0;}
.payinfo td > div.top label {margin: 0 5px 0 0; font-family: '맑은 고딕'; font-size: 15px;}
.payinfo td > div.bottom label {margin: 0 23px 0 0; font-family: '맑은 고딕'; font-size: 15px;}

.agree td label {font-family: '맑은 고딕'; font-size: 16px; color: #222;}

.cost {margin: 50px 0 0;}
.cost table {border-bottom: 3px solid #666666;}
.cost tr.check td p {display: inline-block; width: 65px; height: 26px; margin: 0 5px 0 0; padding: 0 10px; border-bottom: 1px solid #333; text-align: right;}
.cost tr.check td span {padding: 0 0 0 5px; font-size: 16px;}
.cost tr.check td .btn {display: inline-block; margin: 0 0 0 5px; padding: 5px 9px; text-align: center; color: #333; font-size: 14px; border: 1px solid #ccc; border-radius: 3px; background: #fff; outline: 0}
.cost tr.use td input[type="text"] {width: 70px; height: 29px;}
.cost tr.use td .btn {display: inline-block; margin: 0 0 0 5px; padding: 5px 9px; text-align: center; color: #333; font-size: 14px; border: 1px solid #ccc; border-radius: 3px;}
.cost tr.use td label {display: inline-block; padding: 0 2px 0 5px; color: #222;}
.cost tr.use td p {padding: 13px 0 0 0; font-family: '맑은 고딕'; font-size: 14px; font-weight: bold; color: #e8282e}
.cost tr.final {background: #fafafaa1;}
.cost tr.final td .left {float: left; padding: 31px 0 0;}
.cost tr.final td .left p {font-family: '맑은 고딕'; font-size: 22px; font-weight: bold;}
.cost tr.final td .left p span {padding: 0 10px 0 0; font-family: 'tahoma'; font-size: 34px; font-weight: normal; color: #f00; letter-spacing: -1px;}
.cost tr.final td {padding: 12px 0 28px 0;}
.cost tr.final td .right {float: right; margin: 0 15px 0 0;}
.cost tr.final td .right > div {padding: 17px 20px 14px 50px; border-bottom: 1px solid #cccccc;}
.cost tr.final td .right > div p {display: inline-block; width: 100px; margin: 0 70px 0 0; font-weight: 300;}
.cost tr.final td .right > div span {display: inline-block; width: 100px; text-align: right; font-weight: bold;}

.btn_group {text-align: center;}
.btn_group a {display: inline-block; margin: 60px 5px 0; width: 225px; height: 70px; line-height: 70px; text-align: center; font-family: '한컴 소망 B'; font-size: 25px; font-weight: bold;}
.btn_group .btn_order {background: #e2161c;  color: #fff;}
.btn_group .btn_cancel {background: #fff; color: #393535; border: 1px solid #959595;}

.input01 {width: 75px;}
.input02 {width: 225px;}
.input03 {width: 315px;}