@CHARSET "UTF-8";

/* item area */ 
.item {width: 1200px; margin: 0 auto 80px; padding: 20px 0 0 0;}
.item .top {background: url(../../images/bg/bg_item.png) no-repeat right top;}
.item .top > h2 {display: inline-block; padding: 0 0 0 10px; font-size: 30px; font-weight: bold;}
.item .top > span {padding: 0 0 0 7px; font-size: 13px; font-weight: bold; color: #595959;}
.item .top ul {display: inline-block; float: right; font-size: 0; margin-right: 25px;}
.item .top ul li {position: relative; display: inline-block; padding: 0 7px;}
.item .top ul li:after {content:''; position: absolute; top: 17px; left: 0; width: 1px; height: 15px; background: #666666;}
.item .top ul li:first-child:after {display: none;}
.item .top ul li a {display: block; height: 50px; padding: 0 10px; line-height: 50px; font-size: 15px; font-weight: bold; color: #666666;}
.item .top ul li.on a {color: #fe0355;}
.item .top table {width: 1100px; margin: 40px auto 45px; border: 2px solid #e4e4e4;}
.item .top table td {width: 400px; padding: 20px 30px; border: 2px solid #e4e4e4;}
.item .top table td > img {width: 150px; height: 210px;}
.item .top table td div {position: relative; display: inline-block; top: 30px; left: 20px;}
.item .top table td h3 {display: inline; color: #454545; font-size: 16px; font-weight: bold;}
.item .top table td h3.on {border-bottom: 1px solid black;}
.item .top table td .price {padding: 20px 0 5px; color: #454545; font-weight: bold; font-size: 16px;}
.item .top table td .price span {padding: 0 10px 0 0; color: #696969; font-size: 14px; text-decoration: line-through;}
.item .top table td.one {width: 350px; padding: 0; text-align: center;}
.item .top table td.one img {width: 225px; height: 335px;}
.item .top table td.one div {position: static; display: block;}
.item .top table td.one h3 {margin: 30px 0 0 0;}
.item .top table td.one .lbl01 {margin: 7px 4px 0 0;}

.item .titbox {margin: 0 0 5px; padding: 0 0 5px;}
.item .titbox .title {display: inline-block; font-family: '맑은 고딕'; font-size: 30px;} 
.item .titbox .subtit {display: inline-block; padding: 0 0 0 7px; font-family: '맑은 고딕'; font-size: 14px; font-weight: bold; color: #716e6e;}
.item .item_list {width: 1200px;}
.item .list li {width: 20%; display: inline-block; margin: 40px 27px 30px; text-align: center;}
.item .list li img {width: 180px; height: 235px;}
.item .list li > div {margin: 18px 0 0 0; padding: 0 0 0 28px; text-align: left;}
.item .list li > div h3 {display: inline; padding: 0 0 2px 0; color: #454545; font-size: 16px;}
.item .list li > div h3.on {border-bottom: 1px solid black;}
.item .list li > div p {margin: 7px 0; font-size: 15px;}
.item .list li > div p.price {margin: 10px 0 0;}
.item .list li > div p.price span {text-decoration: line-through;}
.item .list li.empty {width: 100%; margin: 0; padding: 10px 0; font-family: '맑은 고딕'; font-size: 15px; font-weight: bold; border-bottom: 4px solid #e4e4e4;}
.item .search {margin: 0 0 30px 0; border: 1px solid #e6e6e6;}
.item .search > img {height: 70px;}
.item .search > div {display: inline-block; width: 81%; text-align: center;}
.item .search > div > div {display: inline-block; margin: 0 19px 0 0;}
.item .search > div > div label {font-family: '맑은 고딕'; font-size: 14px; font-weight: bold; color: #847065;}
.item .search > div > div input {margin: 0 10px; height: 30px !important; line-height: 30px !important;}
.item .search > div > a {display: inline-block; margin: 0 0 0 20px; padding: 6px 20px; font-family: '맑은 고딕'; font-size: 18px; font-weight: bold; color: #fff; vertical-align: middle; background: #fe411d; border: 1px solid #f22a2a;}  
.item .count {padding: 10px 15px; font-family: '맑은 고딕'; font-size: 14px; color: #666666; border: 1px solid #dedede; border-top: 2px solid #444444; background: #f6f6f6;}
.item .count span {padding: 0 3px 0 2px; font-size: 22px; color: #d00542;}
.item .go_detail:hover {cursor: pointer;}
.item .lbl01 {font-size: 13px;}

div.title {text-align: center; margin: 10px 0 20px;}
div.title > h3 {font-family: '맑은 고딕'; font-size: 27px; color: #252525;}
div.title > p {margin: 5px 0 0 0;}
div.title > p span {margin: 0; }
.img_prod {width: 400px; height: 545.5px; border: 2px solid #ededed; background: #fafafa; vertical-align: top;}

.infoTable {display: inline-block; padding: 0 0 0 30px;}
.detail {display: inline-block; width: 700px; border-top: 3px solid #bcbcbc;}
.detail th,
.detail td {border: 1px solid #ebebeb; font-family: '맑은 고딕';}
.detail th {width: 140px; height: 50px; background: #fafafa; color: #333333; text-align: left; padding: 0 0 0 30px;}
.detail td {padding: 0 0 0 25px; width: 160px;}
.detail td.price {color: #d81f25;}
.detail td.price b {font-size: 24px; padding: 0 5px 0 0;}
.detail td .del {text-decoration: line-through;}
.detail td.number > div {position: relative; top: -7px; display: inline-block; width: 45px; height: 26px; padding: 4px 5px 0 0; text-align: right; border: 2px solid #cccccc;}
.detail td.number > span {position: relative; top: 5.5px; display: inline-block;}
.detail td.number > span img {display: block; margin: 2.5px 0; cursor: pointer;}

.btn_box {padding: 20px 0 0 0;}
.btn_box a {display: inline-block; text-align: center; font-family: '맑은 고딕'; font-size: 27px; font-weight: bold;}
.btn_box .buy {width: 250px; height: 84px; line-height: 84px; color: #fff; background: #e2161c;}
.btn_box .cart {width: 250px; height: 84px; line-height: 84px; color: #fff; background: #262626; margin: 0 15px;}
.btn_box .zim {width: 157px; height: 84px; line-height: 84px; color: #262626; background: #fff; border: 2px solid #a6a6a6;}
.btn_box .back {width: 244px; height: 75px; line-height: 75px; margin: 32px 0 0 0; color: #000; background: #fff; border: 3px solid #000; font-family: '맑은 고딕'; font-size: 28px;}
.btn_box .btn_reg {display: inline-block; margin: 20px 0 40px; padding: 10px 30px; font-family: '맑은 고딕'; font-size: 20px; font-weight: bold; color: #2d2d2d; border: 1px solid #ddd;}

h2.title {margin: 40px 0 5px; color: #666666; font-size: 28px; font-weight: bold; font-family: '맑은 고딕'}

.rel_prod {padding: 40px 0;}
.rel_prod ul {text-align: center;}
.rel_prod li {display: inline-block; width: 20%; margin: 0 10px;}
.rel_prod li > div {position: relative; margin: 15px 0 0 0; padding: 0 0 0 38px; text-align: left;}
.rel_prod li > div h3 {position: absolute; display: inline-block; margin: 0 0 15px 0; color: #454545; font-size: 17px;}
.rel_prod li > div h3.on {border-bottom: 1px solid black;}
.rel_prod li > div p {margin: 9px 0; font-size: 16px; color: #595959;}
.rel_prod li > div p.price {padding: 37px 0 0;}
.rel_prod li > div p.sale strong {font-size: 19px; padding: 0 6px 0 0;}

.tap1 {width: 1150px; margin: 30px auto 0;}
.tap1 > ul {border-bottom: 2px solid #dfdfdf; padding: 0 0 17px; font-size: 1px;}
.tap1 > ul > li {display:inline-block; margin: 0 25px 0 21px; color: #595959; font-size: 16px;}
.tap1 > .rev {border-bottom: 2px solid #eaeaea;}
.tap1 > .rev > img {width: 110px; height: 115px; margin: 8px 0; vertical-align: top;}
.tap1 > .rev > div {display: inline-block; width: 1034px;}
.tap1 > .empty {padding: 15px 0; text-align: center; border-bottom: 2px solid #eaeaea;}
.tap1 > .empty p {font-family: '맑은 고딕'; font-weight: bold;}
.tap1 .top {padding: 20px 0; border-bottom: 1px dashed #cccccc;}
.tap1 .top > p {display: inline-block; margin: 0 18px 0 20px; vertical-align: top; font-size: 14px;}
.tap1 .bottom {padding: 20px 0; background: #fafafa;}
.tap1 .bottom > p {padding: 0 50px; line-height: 170%; font-size: 14px;}
.tap1 .bottom > p > img {padding: 0 7px 0 0;}
.tap1 .reg {display: none; border-bottom: 2px solid #eaeaea;}
.tap1 .reg > div {display: inline-block;}
.tap1 .reg > div img {width: 110px; height: 110px; margin: 18px 0 0; vertical-align: top; border: 1px solid #d6d6d6;}
.tap1 .reg > div label {display: block; margin: 10px auto; padding: 2px 0; font-family: '맑은 고딕'; font-size: 14px; font-weight: bold; text-align: center; border: 1px solid #ddd; cursor: pointer;}
.tap1 .reg > div input {position: absolute; width: 1px;  height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0);}
.tap1 .reg > p {display: inline-block; margin: 0 18px 0 20px; height: 183px; line-height: 183px; vertical-align: top; font-size: 14px;}
.tap1 .reg > p textarea {margin: 33px 0; font-family: '맑은 고딕'; font-size: 13px; line-height: 150%; resize: none; }
.tap1 .fa {cursor: pointer; color: #ff3030;}

.tap2 {width: 1000px; margin: 10px auto; border-top: 1px solid #dddddd; border-bottom: 2px solid #dddddd;}
.tap2 > h3 {display: inline-block; width: 180px; height: 450px; line-height: 450px; text-align: center; vertical-align: top; color: #898989; font-size: 23px; font-weight: bold; background: #f7f7f7;}
.tap2 > ul {display: inline-block; width: 785px; padding: 10px 0 10px 5px;}
.tap2 > ul li {margin: 17px 0; padding: 0px 0 0 13px; background: url(../../images/bullet/bu_arrow_right_02.gif) no-repeat 0px 4px; font-size: 16px;}
.tap2 > ul li span {color: #c40c0e;}

.tap3 {width: 1000px; margin: 10px auto; border-top: 1px solid #dddddd; border-bottom: 2px solid #dddddd;}
.tap3 > h3 {display: inline-block; width: 180px; height:233px; padding: 170px 0 0 0; text-align: center; vertical-align: top; color: #898989; font-size: 23px; font-weight: bold; background: #f7f7f7;}
.tap3 > h3 span {display: block; padding: 6px 0 0 0;}
.tap3 > div {display: inline-block; width: 808px; padding: 10px 0 10px 5px; font-size: 16px;}
.tap3 > div li {margin: 15px 0;}
.tap3 > div > p {display: inline-block; margin: 20px 0 0 0; padding: 0 0 0 15px; background: url(../../images/bullet/bu_arrow_right_02.gif) no-repeat 0px 5px; font-size: 19px;}
.tap3 > div > ul li {line-height: 170%;}
.tap3 > div li span {color: #c40c0e;}