<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin-Mapper">
	<resultMap id="adminMap" type="admin">
		<id property="id" column="admin_id" />
		<result property="pwd" column="admin_pwd" />
		<result property="name" column="admin_name" />
		<result property="birth" column="admin_birth" />
		<result property="gender" column="admin_gender" />
		<result property="phone" column="admin_phone" />
		<result property="address" column="admin_address" />
		<result property="email" column="admin_email" />
		<result property="company" column="company" />
		<result property="busiNo" column="busi_no" />
		<result property="represent" column="represent" />
		<result property="useyn" column="use_yn" />
	</resultMap>

	<update id="insertAdmin" parameterType="admin">
		insert into admin(admin_id, admin_pwd, admin_name, admin_birth,
		admin_gender, admin_phone, admin_address, admin_email,
		company, busi_no, represent)
		values (#{id}, #{pwd}, #{name}, #{birth}, #{gender},
		#{phone}, #{address}, #{email}, #{company}, #{busiNo}, #{represent})
	</update>
	
	<select id="selectAdminById" parameterType="str" resultMap="adminMap">
		select * from admin where admin_id=#{id}
	</select>
</mapper>