<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin-Mapper">
	<resultMap id="adminMap" type="admin">
		<id property="id" column="admin_id" />
		<result property="pwd" column="admin_pwd" />
		<result property="name" column="admin_name" />
		<result property="birth" column="admin_birth" />
		<result property="gender" column="admin_gender" />
		<result property="phone" column="admin_phone" />
		<result property="address" column="admin_address" />
		<result property="email" column="admin_email" />
		<result property="company" column="company" />
		<result property="busiNo" column="busi_no" />
		<result property="represent" column="represent" />
		<result property="useyn" column="use_yn" />
		<result property="regdate" column="regdate" />
		<result property="roleNo" column="role_no" />
		<result property="roleName" column="role_name" />
	</resultMap>

	<update id="insertAdmin" parameterType="admin">
		insert into admin(admin_id, admin_pwd, admin_name, admin_birth,
		admin_gender, admin_phone, admin_address, admin_email,
		company, busi_no, represent)
		values (#{id}, #{pwd}, #{name}, #{birth}, #{gender},
		#{phone}, #{address}, #{email}, #{company}, #{busiNo}, #{represent})
	</update>
	
	<select id="selectAdminById" parameterType="str" resultMap="adminMap">
		select * from admin where admin_id=#{id}
	</select>
	
	<select id="selectAdminList" resultMap="adminMap">
		select * from admin where use_yn != 'r' order by regdate desc
	</select>
	
	<select id="selectAdminListForPermit" resultMap="adminMap">
		select * from admin where use_yn = 'r'
		order by regdate desc
	</select>
	
	<select id="selectAdminListCountForPermit" resultType="int">
		select count(*) from admin where use_yn = 'r'
	</select>
	
	<update id="updateAdminPermitYes" parameterType="str">
		update admin set use_yn = 'y' where admin_id = #{id}
	</update>
	
	<update id="updateAdminPermitNo" parameterType="str">
		delete from admin where admin_id = #{id}
	</update>
	
	<update id="deleteAdmin" parameterType="str">
		update admin set use_yn = 'n'
		where admin_id = #{id}
	</update>
	
	<sql id="search">
		<if test="cri.searchType != null">
			<if test="cri.searchType == 'name'.toString()">
				and admin_name like concat('%',#{cri.keyword},'%')
			</if>
			<if test="cri.searchType == 'company'.toString()">
				and company like concat('%',#{cri.keyword},'%')
			</if>
		</if>
	</sql>
	
	<select id="selectAdminListSearch" parameterType="hashmap" resultMap="adminMap">
		select * from admin where use_yn = 'y' and admin_id != #{adminId}
		<include refid="search"></include>
	</select>
	
	<select id="selectAdminListSearchCount" parameterType="hashmap" resultType="int">
		select count(*) from admin where use_yn = 'y' and admin_id != #{adminId}
		<include refid="search"></include>
	</select>
	
	<select id="selectAdminFindId" parameterType="hashmap" resultMap="adminMap">
		select * from admin where admin_name = #{name} and admin_email = #{email}
	</select>
	
	<select id="selectAdminFindPw" parameterType="hashmap" resultMap="adminMap">
		select * from admin where admin_id = #{id} and admin_name = #{name} and admin_email = #{email}
	</select>
	
	<update id="updateAdminPw" parameterType="hashmap">
		update admin set admin_pwd = #{pwd} where admin_id = #{id}
	</update>
	
	<select id="selectAdminByEmail" parameterType="str" resultMap="adminMap">
		select * from admin where admin_email = #{email}
	</select>
	
	<update id="updateAdmin" parameterType="admin">
		update admin set admin_pwd = #{pwd}, admin_name = #{name}, admin_birth = #{birth},
		admin_gender = #{gender}, admin_phone = #{phone}, admin_address = #{address},
		admin_email = #{email}, company = #{company}, busi_no = #{busiNo}, represent = #{represent}
		where admin_id = #{id}
	</update>
	
	<update id="updateAdminRole" parameterType="hashmap">
		update admin set role_no = #{roleNo} where admin_id = #{adminId}
	</update>
	
	<select id="selectAdminCountThisDay" resultType="int">
		select count(*) from admin where date_format(regdate, '%Y-%m-%d') = curdate() and use_yn = 'y'
	</select>
	
	<select id="selectAdminCountThisMonth" resultType="int">
		select count(*) from admin where month(regdate) = month(curdate()) and use_yn = 'y'
	</select>
</mapper>