<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Product-Mapper">
	<resultMap id="productMap" type="product">
		<id property="prodNo" column="prod_no" />
		<result property="name" column="prod_name" />
		<result property="price1" column="prod_price1" />
		<result property="price2" column="prod_price2" />
		<result property="save" column="prod_save" />
		<result property="info" column="prod_info" />
		<result property="image" column="prod_image" />
		<result property="category" column="category" />
		<result property="bestyn" column="best_yn" />
		<result property="useyn" column="use_yn" />
	</resultMap>
	
	<select id="selectProductByNo" parameterType="int" resultMap="productMap">
		select * from product where prod_no = #{prodNo}
	</select>
	
	<select id="selectProductList" parameterType="int" resultMap="productMap">
		select * from product where category = #{category}
		order by prod_no desc;
	</select>
	
	<select id="selectProductBestList" parameterType="int" resultMap="productMap">
		select * from product where category = #{category}
		order by prod_no desc;
	</select>
</mapper>