<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
    	<typeAlias type="java.lang.String" alias="str"/>
    	<typeAlias type="java.lang.Integer" alias="int"/>
    	<typeAlias type="com.dawn.angel.domain.MemberVO" alias="member"/>
    	<typeAlias type="com.dawn.angel.domain.AdminVO" alias="admin"/>
    	<typeAlias type="com.dawn.angel.domain.ProductVO" alias="product"/>
    	<typeAlias type="com.dawn.angel.domain.CommentVO" alias="comment"/>
    	<typeAlias type="com.dawn.angel.domain.ReviewVO" alias="review"/>
    	<typeAlias type="com.dawn.angel.domain.CartVO" alias="cart"/>
    	<typeAlias type="com.dawn.angel.domain.WishVO" alias="wish"/>
    	<typeAlias type="com.dawn.angel.domain.OrderVO" alias="order"/>
    	<typeAlias type="com.dawn.angel.domain.BaljuVO" alias="balju"/>
    	<typeAlias type="com.dawn.angel.domain.AddressVO" alias="address"/>
    </typeAliases>
</configuration>